{% extends 'base_copyright_version.html' %}
{% block content %}

<div id="new_staff_container">
    <div id="subtitle_text_wrapper">
        동행구하기
    </div>
    <div id="background_div">
            <div>
                <div id="festa_info">
                    <div class="festa_content" id="date_div">
                        <div>등록날짜 {{accompany.created_at|date:"o년 m월 j일 h:i"}}</div>
                    </div>
                    <div class="festa_content">
                        <div>제목</div>
                        <div><input type="text" name='title' value='[{{accompany.area}}] {{accompany.title}}' disabled></div>
                    </div>
                    <div class="festa_content festa_content_second">
                        <div>작성자</div>
                        <div><input type="text" name='writer' value='{{accompany.writer}}' disabled></div>
                    </div>
                    <div class="festa_content festa_content_second festa_image">
                            <div>첨부 이미지</div>
                            <div><img src="{{ accompany.image.url }}" alt=""></div>
                        </div>
                    <div class="festa_content festa_content_second">
                        <div>내용</div>
                        <div>
                            <textarea name="description" cols="30" rows="10" disabled>{{accompany.description}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<style>
    /* 전체 컨테이너 */
    #new_staff_container {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-left: 20%;
        padding-right: 20%;
        background: #f4f3ff;
    }

    /* 공지사항 타이틀 */
    #subtitle_text_wrapper {
        font-size: 20px;
        font-weight: bold;
    }

    #background_div {
        background: #ffffff;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .festa_content_second {
        margin-top: 3%;
    }

    .festa_content div {
        max-width: 100%;
        width: 100%;
        padding: 2px 10px;
    }

    .festa_content div input,
    .festa_content div textarea {
        border: 1px solid #747474;
        /* margin: 10px;*/
        padding: 10px;
        width: 100%;
        max-width: 100%;
    }
    #date_div div {
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
    }
    .festa_image img{
        max-width: 100%;
    }
</style>
{% endblock %}