{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
 {% block content %}
 <div class="container">
    <h1>여기 레디임</h1>
    <h1>공연 이름 :{{ festa.name }}</h1>
    <p>공연 날짜 : {{ festa.schedule|date:"Y"}}년 {{ festa.schedule|date:"m"}}월 {{ festa.schedule|date:"d"}}일</p>
    <p>공연 장소 : {{ festa.space }}</p>
    <p>공식 티켓판매처 링크 : {{festa.purchase_link}}</p>
    <p>공연 주최/기획사 : {{festa.host }}</p>
    <p>고객 문의처 : {{festa.contact }}</p>
    <!-- <p>지도 : {{festa.map }}</p>
    <div id="map" style="width:300px;height:300px;margin-top:10px;"></div>
            
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3a6997107b687683607fb8587b9bb914&libraries=services"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };
    </script> -->
    <p>공연 유의사항 : {{ festa.precautions }}</p>
    <p>공연 공지사항 : {{ festa.notice }}</p>

    <a href="{% url 'accompany' festa.id %}">동행구하기 게시판</a><br>
    <a href="{% url 'ticket' festa.id %}">티켓 양도/교환 게시판</a><br>
    <img src="{{ festa.poster.url }}">
    <br>
    <a href="{% url 'home' %}">목록 보러가기</a>
    <a href="{% url 'edit' festa.id %}">수정하기</a>
    <a href="{% url 'delete' festa.id %}">삭제하기</a>
</div>
    
</body>
{% endblock %}