<h2><티켓거래 상세보기 페이지></h2>
<p> 제목: {{ticket.title}}</p>
<p> 거래타입: {{ticket.deal_type}}</p>
<p> 작성자: {{ticket.writer}}</p>
<p> 내용: {{ticket.description}}</p>
{% if ticket.image %}
<img src="{{ ticket.image.url }}">
{% endif %}

<a href="{% url 'edit_ticket' festa.id ticket.pk %}" class="btn btn-primary">수정</a>

<form action="{% url 'delete_ticket' festa.id ticket.pk %}" method="POST">
        {% csrf_token%}
        <input type="submit" value="삭제" class="btn btn-primary">
</form>


<h2>commenttics</h2>
{% for commenttic in commenttics %}
<p>작성자: {{commenttic.writer}}</p>
<p>내용: {{commenttic.content}}</p>
<a href="{% url 'delete_commenttic' festa.id ticket.id commenttic.pk %}" class="btn btn-primary">삭제</a>
<hr>
{% endfor%}

<form action="{% url 'create_commenttic' festa.id ticket.id %}" method="POST">
    {% csrf_token %}
    작성자 : <input name="writer" type="text">    
    비밀번호: <input type="password" name="password"><br>
    <br>
    내용 : <textarea name="content" id="" cols="30" rows="10"></textarea>
    <input type="submit">
</form>