{% extends 'base.html' %}
{% block content %}

<div id="ready_ticket_trade_div">
        <a href="{% url 'create_ticket' festa.id %}" class="btn btn-primary">글쓰기</a>
            
        <form action="" method="get">
                <input type="text" name="search" value="{{ search }}">
                <input type="submit" value="검색">
        </form>
        <p>----------------------------</p>


        {% for ticket in posts %}
        <p> 제목: {{ticket.title}}</p>
        <p> 거래방법: {{ticket.deal_type}}</p>
        <p> 작성자: {{ticket.writer}}</p>
        <a href="{% url 'detail_ticket' festa.id ticket.id%}" class="btn btn-primary">보러가기</a>
        <p>----------------------------</p>
        {% endfor %}

        <div class="container">

        {% if posts.has_previous %}
        <a href="?page=1">first</a>
        <a href="?page={{posts.previous_page_number}}">Previous</a>
        {% endif %}

        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>

        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">Next</a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}

        </div>
</div>

<!-- 자바 스크립트 연결 -->
{% load static %}
<script type="text/javascript" src="{% static 'js/festa_ready_js.js' %}"></script>

{% endblock %}