{% extends 'base_copyright_version.html' %}
{% block content %}
<div class="container">
    <h2>공지사항 등록하기</h2>
    <br>
    <div class="container">

        {{fail}}
        <!-- <form action="{% url 'confirm_register' festa.id %}" method="POST">
            {% csrf_token %} -->
            <p>등록권한이 없습니다</p>
            <!-- <input class="btn " type="submit" value="확인">
            <p>등록번호 <input type="text" name="register_num"></p>
        </form> -->
    </div>
</div>
</body>

<style>
    #map {
        width: 400px;
        height: 300px;
    }
</style>
{% endblock %}