{% extends 'base_copyright_version.html' %}
{% block content %}

<div class="container">
    <br>
    <br>
    <br>
    <div class="all_top">
        <div id="festa_now_title_home">
            <h5 class="main_text">Festa ready</h5>
            <p class="sub_text">다가오는 행사를 200배 더 즐겁게 즐기려면?</p>
        </div>
        <!--검색 버튼-->
        <div id="form_wrapper">
            <form action="{% url 'search' %}" method="GET">
                <input id="editText" type="text" name="search_bar" value="{{keyword}}">
                <input id="searchBt" type="submit" value="&#xf002" class="fa-lg">
            </form>
        </div>
    </div>


    <div class="all_body_wrapper">

        {% for festa_ready in festa.all %}
        {% if festa_ready.schedule_start|date:"Y m d" > today|date:"Y m d" %}
        <div class="item">
            <a href="{% url 'ready_main' festa_ready.id %}"><img src="{{festa_ready.poster.url}}"></a>
            <div class="day_wrapper">
                <div class="day_span2">
                    <div class="name">{{festa_ready.name}}</div>
                    <span class="festa_ready_date_span">

                        <script type="text/javascript">
                            festa_ready_day_cal++;
                            var cFestaName = "{{ festa_ready.name }}";
                            var cToday = "{{today|date:" d "}}";
                            var cFestaDay = "{{festa_ready.schedule_start|date:" d "}}";
                            dayInterval = cFestaDay - cToday;
                            var cFestaReadyText = " D - " + dayInterval
                            var festa_ready_dday = document.getElementsByClassName('festa_ready_date_span');
                            for (var i in festa_ready_dday) {
                                festa_ready_dday[i].innerHTML = cFestaReadyText;
                            }
                        </script>
                    </span>
                </div>
            </div>
        </div>

        <span class="festa_ready_date_span">
            D - {{today|date:"d"}} - {{festa_ready.schedule|date:"d"}}
        </span>
        <script type="text/javascript">
            festa_ready_day_cal++;
            var cFestaName = "{{ festa_ready.name }}";
            var cToday = "{{today|date:" d "}}";
            var cFestaDay = "{{festa_ready.schedule_start|date:" d "}}";
            dayInterval = cFestaDay - cToday;
            var cFestaReadyText = " D - " + dayInterval
            var festa_ready_dday = document.getElementsByClassName('festa_ready_date_span');
            for (var i in festa_ready_dday) {
                festa_ready_dday[i].innerHTML = cFestaReadyText;
            }
        </script>


        {% endif %}
        {% endfor %}

    </div>

</div>
</div>

{% load static %}
<script type="text/javascript" src="/static/js/home_js.js?ver=1"></script>

<style>
    #form_wrapper {
        width: 50%;
        height: 100%;
        align-self: flex-end;
        display: flex;
        padding-right: 10%;
    }

    #form_wrapper form {
        margin-bottom: 13px;
        width: 100%;
        align-self: center;
        display: block;
        border: 1px solid #EAEAEA;
        -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    }

    #editText {
        width: 90%;
        text-overflow: ellipsis;
    }

    #searchBt {
        width: 10%;
        padding: 1px;
        background: #ff5543;
        font-family: FontAwesome;
        color: #ffffff;
    }

    #form_wrapper form input {
        float: left;
        border: 0px;
    }

    .day_span2 {
        display: inline-flex;
        padding-left: 0;
    }

    .name {
        font-family: NotoSansCJKkr;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: black;
    }

    .day {
        margin-left: 5px;
        font-family: NotoSansCJKkr;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: rgba(0, 0, 0, 0.5);
    }

    #festa_now_title_home {
        display: inline-flex;
        width: 100%;

    }

    .all_top {
        display: inline-flex;
        width: 100%;
    }

    .main_text {
        font-size: 36px;
    }

    .sub_text {
        font-size: 18px;
        padding-top: 17px;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.5);
    }

    .all_body_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 20px;
    }

    .item {
        text-align: center;
        margin-bottom: 75px;
    }

    .item .day_span2 {
        padding-left: 0px;
    }

    img {
        width: 90%;
        height: 225px;
    }
</style>

{% endblock %}