{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
 {% block content %}
    <div class="container">
        <h2>등록 확인</h2>
        <br>
        {% for number in all_number %}
        {{number}}
        {% endfor %}
        <div class="container">
            {% for festa in confirm_festa.all %}
                <a href="{% url 'ready_detail' festa.id %}">{{ festa.name }}{{ festa.host }}</a>
                <hr>
            {% endfor %}
        </div>
    </div>
</body>

<style>
#map {
    width: 400px;
    height: 300px;
}
</style>
{% endblock %}