{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
{% block content %}
<div class="container">
    <div class="main">
        <form action="{% url 'search' %}" method ="GET">
            <input type="text" name="search_bar" value="{{keyword}}">
            <input type="submit" value="검색">
        </form>
        {% for festa in result_festa %}
            {{festa.name}}
        {% endfor%}
        

    </div>
    
    <div class="festa_now">
        <h1>Festa NOW</h1>
        <!--  Festa 객체들 중에서 공연 날짜 == 오늘 날짜 이면 festa_now에 게시 -->
        {% for festa_now in festas.all %} 
        {% if festa_now.schedule|date:"Y m d" == today|date:"Y m d" %}
            <!-- 각 festa별 로그인 후 festa_now게시판으로 이동 -->
            <a href="{% url 'now_detail' festa_now.id %}"><img src="{{ festa_now.image.url }}"></a>
        {% endif %}
        {% endfor %}
    </div>
    
    <div class="festa_ready">
        <h1>Festa READY</h1>
        <!-- Festa 객체들 중에서 공연 날짜 != 오늘 날짜 이면 festa_ready에 게시 -->
        {% for festa_ready in festas.all %}
        {% if festa_ready.schedule|date:"Y m d" != today|date:"Y m d" %}
            <!-- 각 festa별 festa_ready게시판으로 이동 -->
            <a href="{% url 'ready_detail' festa_ready.id %}"><img src="{{ festa_ready.image.url }}"></a>
        {% endif %}
        {% endfor %}
    </div>
</div>
</body>
<!-- footer 시작 -->
<footer>
<h1>푸터입니다</h1>
</footer>

<style>
    img {
        height: 300px;
        weight: 150px;
        border: 1px solid;
        border-color: black;
    }
</style>

{% endblock %}