{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
{% block content %}
<div class="container">
    <h1>Festa NOW</h1>
    <div class="festa_now">
        <!-- 
        Festa 객체들 중에서
        공연 날짜 == 오늘 날짜 이면
        festa_now에 게시
         -->
        {% for festa_now in festas.all %} 
            {% if festa_now.schedule|date:"Y m d" == today|date:"Y m d" %}
                <!-- 각 festa별 로그인 후 festa_now게시판으로 이동 -->
                <a href="{% url 'now_detail' festa_now.id %}"><img src="{{ festa_now.image.url }}"></a>
            {% endif %}
        {% endfor %}
    </div>
    <h1>Festa READY</h1>
    <div class="festa_ready">
        {% for festa_ready in festas.all %}
            <!-- 각 festa별 festa_ready게시판으로 이동 -->
            <a href="{% url 'ready_detail' festa_ready.id %}"><img src="{{ festa_ready.image.url }}"></a>
        {% endfor %}
    </div>
</div>
</body>

<style>
    .festa_now {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .festa_ready {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    img {
        width: 80%;
        text-align: center;
        height: 300px;
        border: 1px solid;
        border-color: black;
    }
</style>

{% endblock %}