{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
 {% block content %}
    <div class="container">
        <p> 새글 등록하기</p>
        <br>
        <div class="container">
            <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>공연 이름: <input type="text" name="name"></h4>
                <br>
                <h4>공연 날짜: <input type="date" name="schedule"></h4>
                <h4>장소: <input type="text" name="space"></h4>
                <br>
                <p>대표 이미지: <input type="file" name="image" vlaue="찾아보기"></p>
                <input class="btn btn-dark" type="submit" value="제출하기">
            </form>
        </div>
    </div>
</body>
{% endblock %}