{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
 {% block content %}
    <div class="container">
        <h2>페스타 등록하기</h2>
        <br>
        <div class="container">
            <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>공연 제목</p>
                <input type="text" name="name">
                <p>공연 날짜</p>
                <input type="date" name="schedule">
                <p>공연 장소</p>
                <input type="text" name="space">
                <p>공식 티켓판매처 링크</p>
                <input type="text" name="purchase_link">
                <p>공연 주최/기획사</p>
                <input type="text" name="host">
                <p>고객 문의처</p>
                <input type="text" name="contact">
                <p>지도</p>
                <div id="map"></div>
                <script>
                var mapOptions = {
                    center: new naver.maps.LatLng(37.3595704, 127.105399),
                    zoom: 10
                };
                var map = new naver.maps.Map('map', mapOptions);
                </script>  
                <p>유의사항 게시글로 작성됩니다</p>
                <textarea name="precautions" cols=70 rows=10></textarea>
                <p>공지사항 게시글로 작성됩니다</p>
                <textarea name="notice" cols=70 rows=10></textarea>
                <br>
                <p>이미지 첨부 이미지 내 공연 쇅, 공연 출연진, 타임 테이블 정보 필수</p>
                <input type="file" name="poster" vlaue="찾아보기">
                <input class="btn btn-dark" type="submit" value="제출하기">
            </form>
        </div>
    </div>
</body>

<style>
#map {
    width: 400px;
    height: 300px;
}
</style>
{% endblock %}