{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
{% block content %}
<div class="container">
    <div class="main">
        <h1>'{{keyword}}'의 검색결과</h1>
        <form action="{% url 'search' %}" method ="GET">
            <input type="text" name="search_bar" placeholder="ex)'지산 락 페스티벌'궁금하지 않나요?"">
            <input type="submit" value="검색">
        </form>
        {% for festa in search_festa %}
        <a href="{% url 'ready_detail' festa.id %}"><img src="{{ festa.poster.url }}"></a>
        <p>{{ festa.name }}</p>
        {% endfor%}
    </div>
    
</div>
</body>
<!-- footer 시작 -->
<footer>
<h1>푸터입니다</h1>
</footer>

<style>
    img {
        height: 300px;
        weight: 150px;
        border: 1px solid;
        border-color: black;
    }
</style>

{% endblock %}