{% extends 'base.html' %}
 {% block content %}
 
 <div id="certificate_box">
        <div id="explain_text_box">인증번호를 입력해주세요</div>
        <div id="booked_name_and_num">
                <form id="edit_box_form" action="{% url 'staff_main' festa.id %}" method="POST">
                {% csrf_token %}
                {{fail}}
                <div class="visible_edit_box">
                    <div class="reserve_span">
                        <span>팀 &nbsp; &nbsp;&nbsp;번 &nbsp;호</span>
                    </div>
                    <div class="bt_wrapper">
                        <input id="name_editText" type="text" name="reservation_name" value="1234"></p>
                    </div>
                </div>
                <div class="visible_edit_box">
                    <div class="reserve_span">
                            <span>전화 번호</span>
                    </div>
                    <div class="bt_wrapper">
                            <input id="num_editText" type="text" name="reservation_num" placeholder="1234">
                            <input id="certificateBt" type="submit" value="&#xf064" class="fa-7x">
                    </div>   
                </div>
            </form>
        </div>
 </div>
<!-- 자바 스크립트 연결 -->
{% load static %}
<script type="text/javascript" src="/static/js/login_js.js?ver=13' %}"></script>
<style>
    #certificate_box {
        height: auto;
        width: 100%;
        align-self: center;
        padding-left: 15%;
        padding-bottom: 1%;
    }
    #explain_text_box{
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 68px;
    }
    #booked_name_and_num {
        width: 100%;
        padding-bottom: 68px;
    }

    #edit_box_form{
        width: 80%;
    }
    #edit_box_form div{
        font-size: 24px;
        font-weight: 500;
    }

    .visible_edit_box{
        display: flex;
        width: 100%;
        padding-bottom: 68px;
    }

    .reserve_span{
        display: flex;
    }
    .reserve_span span{
        align-self: center;
    }

    .bt_wrapper{
        display: flex;
        border: 1px solid #9e9e9e;
        height: auto;
        width: 70%;
        margin-left: 7%;
    }

    .bt_wrapper input{
        float: left;
        border: 0px;
    }

    #num_editText, #name_editText {
        width: 90%;
        text-overflow: ellipsis;
    }

    #certificateBt {
        width: 10%;
        padding: 1px;
        background: #ff5543;
        font-family: FontAwesome;
        color: #ffffff;
    }
</style>
{% endblock %}