<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<center>
    <h1>새 글을 작성해주세요</h1>
    <a href="{% url 'now_team' festa.id %}" class="store">팀별게시판</a>
    <br>
    <br>
    <form action="{%url 'create_team' festa.id %}" method="POST">
        {% csrf_token %}
        [Title] : <input type="text" name='title' placeholder="제목을 입력해 주세요">
        <br>
        <br>
        [Writer] : <input type="text" name='writer'>
        <br>
        <br>
        [POST_TYPE]
        <select name="post_type">
            <option name="중요">중요</option>
            <option name="질문">질문</option>
        </select>
        <br>
        [Body]
        <br>
        <textarea name="body" id="" cols="30" rows="10" placeholder="내용을 입력해 주세요 style="padding:10px; margin:10px;"></textarea>
        <br>
        
        <button type='submit'>게시글 작성</button>
    </form>
</center>
</body>

</html>