{% extends 'base.html' %}
{% block content %}

<div id="team_div">
    <h1>팀별게시판</h1>
    <a href="{% url 'new_team' festa.id %}">글쓰기 </a>

    <hr>
    {% for team in teams.all %}
    <br>
    <a href="{% url 'detail_team' festa.id team.id %}">{{team.title2}}</a>
    {{team.post_type}}
    {{team.writer2}}
    {{team.pub_date2|date:"m/d"}}
    {{team.pub_date2|time:"H:i"}}
    <br>
    <a href="{% url 'edit_team' festa.id team.id %}" class="card-link">수정하기</a>
    <a href="{% url 'delete_team' festa.id team.id %}" class="card-link">삭제하기</a>

    <div class="middle">
        <hr>
    </div>

    {% endfor %}
</div>
<!-- 자바 스크립트 연결 -->
{% load static %}
<script type="text/javascript" src="/static/js/standard_js.js?ver=2' %}"></script>

<style></style>
{% endblock %}