{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
 {% block content %}
 
    <div class="row">
        <div class="col-md-5">
            <img src ="{{festa.poster.url}}"style="height:500px">

        </div>

        <div class="col-md-7" style="background-color:#EEE9F7; ">
            <div class="container">
                <form action="{% url 'audience_main' festa.id %}" method="POST">
                    {% csrf_token %}
                    <p>정보를 입력해주세요</p>
                    <input class="btn btn-primary" type="submit" value="확인">
                    <br>
                    <br>
                    <p>예약자 <input type="text" name="reservation_name"></p>
                    <p>예약번호 <input type="text" name="reservation_num"></p>
                </form>
            </div>
    </div>
</body>
{% endblock %}