{% extends 'base.html' %}
{% block content %}

<div id="team_div">
    <h1>찾아가라</h1>
    <a href="{% url 's_new_lost_found' festa.id %}">글쓰기 </a>

    <hr>
    {% for lost_found in lost_founds.all %}
    <br>
    <a href="{% url 's_detail_lost_found' festa.id lost_found.id %}"> : {{lost_found.title}}</a>
    {{lost_found.post_type}}
    {{lost_found.writer}}
    {{lost_found.pub_date|date:"m/d"}}
    {{lost_found.pub_date|time:"H:i"}}
    <br>
    <a href="{% url 's_edit_lost_found' festa.id lost_found.id %}" class="card-link">수정하기</a>
    <a href="{% url 's_delete_lost_found' festa.id lost_found.id %}" class="card-link">삭제하기</a>

    <div class="middle">
        <hr>
    </div>

    {% endfor %}

</div>
<!-- 자바 스크립트 연결 -->
{% load static %}
<script type="text/javascript" src="{% static 'js/standard_js.js' %}"></script>

<style></style>
{% endblock %}