{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
 {% block content %}
 
    <div class="row">
        <div class="col-md-5">
            <img src = http://www.kpenews.com/Files/4/News/201906/260_20190620191955168.JPG style="height:500px">

        </div>

        <div class="col-md-7" style="background-color:#EEE9F7; ">
            <a class="btn btn-primary" href="{% url 'now_staff' %}">Staff</a>
            <br>
            <Br>
            <a class="btn btn-primary" href="{% url 'now_audience' %}">Audience</a>
    </div>

 
 
 
 
 
 
    
</body>
{% endblock %}