{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
 {% block content %}
 
    <div class="row">
        <div class="col-md-5">
            <img src = http://www.kpenews.com/Files/4/News/201906/260_20190620191955168.JPG style="height:500px">
            <ul class="vertical-menu">

                <li><a href="{% url 'now_audience' %}">공지사항</a></li>
                
                <li><a href="{% url 'now_now' %}">Festa now</a></li>
                
                <li><a href="">지도</a></li>
                
                <li><a href="">찾아가라</a></li>

                <li><a href="">집가자</a></li>

                </ul>


        </div>

    <div class="col-md-7" style="background-color:#EEE9F7; ">
      
        <h1>Festa now</h1>
            <a href="{% url 'new_now'%}">글쓰기 </a>
            
            <hr>
            {% for now in nows.all %}
            <br>
            <a href="{% url 'detail_now' now.id %}"> : {{now.title}}</a> 
            {{now.writer}}
            {{now.pub_date}}
            <br>
            <a href="{% url 'check_edit_now' now.id%}" class="card-link">수정하기</a>
            <a href="{% url 'check_delete_now' now.id %}" class="card-link">삭제하기</a>
            
            <div class="middle">
                <hr>
            </div>
                
            {% endfor %}
       


    </div>

    
</body>
{% endblock %}