
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<style>
    .loginHeaderV3{
        padding: 76px 0 60px 0;
        height: 20px;
        text-align:center;
    }

    .loginHeaderV3 .var{
        width: 10 px;
        display: inline-block;
        height: 20px;
        vertical-align: top;
        margin: 0 13.px 0 15px;
        background: #d8d8d8;
    }

</style>


</head>

<body>
    <center>
        <h1>Detail Post</h1>



        <p>
            <h2>[Title] : {{home.title}}</h2>
            <p>[Writer] : {{home.writer}}</p>
            <p>[Region] : {{home.region}}</p>
            <p>[Date of Issue] : {{home.pub_date}}</p>
            <p>
                [Body]
                <br>
                <textarea name="body"  readonly="readonly" id="" cols="30" rows="10"
                    style="padding:10px; margin:10px;">{{home.body}}</textarea>
            </p>
            <input type="button" value="뒤로가기" onclick="history.back(-3);">
            <span class="var"></span>
            <a href="{% url 's_edit_home' festa.id home.id%}" class="store">수정하기</a>
            <span class="var"></span>
            <a href="{%url 's_delete_home' festa.id home.id %}" class="store">삭제하기</a>

            <h2>comments</h2>
            {% for comment in comments %}
            {{comment.writer_home}}
            <br>
            {{comment.content_home}}
            <hr>
            {% endfor%}
            <form action="{% url 's_comment_home' festa.id home.id %}" method="POST">
                {% csrf_token %}
                작성자 : <input name="writer" type="text">
                <br>
                <textarea name="content" id="" cols="30" rows="10" placeholder="댓글을 입력해 주세요"></textarea>
                <input type="submit" value="댓글 작성">
            </form>
    
        </div>

    
    </center>
