<h2><티켓거래 상세보기 페이지></h2>
<p> 제목: {{ticket.title}}</p>
<p> 거래타입: {{ticket.deal_type}}</p>
<p> 작성자: {{ticket.writer}}</p>
<p> 내용: {{ticket.description}}</p>

<a href="{% url 'edit_ticket' ticket.pk %}" class="btn btn-primary">수정</a>

<form action="{% url 'delete_ticket' ticket.pk %}" method="POST">
        {% csrf_token%}
        <input type="submit" value="삭제" class="btn btn-primary">
</form>


<h2>comments</h2>
{% for comment in comments %}
<p>작성자: {{comment.writer_ticket}}</p>
<p>내용: {{comment.content_ticket}}</p>

<hr>
{% endfor%}

<form action="{% url 'comment_ticket' ticket.id %}" method="POST">
    {% csrf_token %}
    작성자 : <input name="writer" type="text">
    <br>
    내용 : <textarea name="content" id="" cols="30" rows="10"></textarea>
    <input type="submit">
</form>